INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Pattachitra Painting', 'Painting', 'Cloth, Natural Dyes', 1, 'Hand-painted', 'Raghunath Mohapatra');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Channapatna Toys', 'Craft', 'Wood, Lacquer', 2, 'Lac-turnery', 'Bavas Miyan');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Madhubani Painting', 'Painting', 'Handmade Paper, Natural Colors', 3, 'Finger-painting, Twigs', 'Sita Devi');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Warli Art', 'Painting', 'Mud, Cow Dung, Rice Paste', 4, 'Tribal Art', 'Jivya Soma Mashe');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Bidriware', 'Metal Craft', 'Zinc, Copper, Silver', 5, 'Inlay Work', 'Sheikh Suleman');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Blue Pottery', 'Pottery', 'Quartz, Multani Mitti', 6, 'Low-temperature Glazing', 'Kripal Singh Shekhawat');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Phulkari Embroidery', 'Textile', 'Cotton, Silk Thread', 7, 'Embroidery', 'Traditional Punjabi Artisans');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Kalamkari', 'Painting', 'Cloth, Natural Dyes', 8, 'Pen-drawing', 'Raja Ravi Varma');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Tanjore Painting', 'Painting', 'Gold Foil, Wood', 9, 'Relief Work', 'R. Radhakrishnan');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Rogan Art', 'Painting', 'Castor Oil, Natural Dyes', 10, 'Freehand Drawing', 'Abdul Gafur Khatri');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Chikankari Embroidery', 'Textile', 'Muslin, Cotton Thread', 11, 'Hand Embroidery', 'Noor Jahan (Historic)');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Kullu Woolen Shawl', 'Textile', 'Wool, Vegetable Dyes', 12, 'Handloom Weaving', 'Traditional Artisans');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Meenakari Jewelry', 'Jewelry', 'Gold, Enamel', 13, 'Enameling', 'Iranian Artists in Rajasthan');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Terracotta Horse', 'Sculpture', 'Clay, Natural Dyes', 14, 'Moulding', 'Panchmura Artists');



INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans)

VALUES ('Dhokra Art', 'Metal Craft', 'Brass, Bronze', 15, 'Lost-wax Casting', 'Tribal Artisans of Bastar');
INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Pattachitra Painting', 'Painting', 'Cloth, Natural Dyes', 1, 'Hand-painted', 'Raghunath Mohapatra', 'https://upload.wikimedia.org/wikipedia/commons/1/17/Pattachitra_painting.jpg');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Channapatna Toys', 'Craft', 'Wood, Lacquer', 2, 'Lac-turnery', 'Bavas Miyan', 'https://upload.wikimedia.org/wikipedia/commons/4/42/Channapatna_toys.jpg');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Madhubani Painting', 'Painting', 'Handmade Paper, Natural Colors', 3, 'Finger-painting, Twigs', 'Sita Devi', 'https://upload.wikimedia.org/wikipedia/commons/8/85/Madhubani_art.jpg');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Warli Art', 'Painting', 'Mud, Cow Dung, Rice Paste', 4, 'Tribal Art', 'Jivya Soma Mashe', 'https://upload.wikimedia.org/wikipedia/commons/e/e9/Warli_Painting.JPG');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Bidriware', 'Metal Craft', 'Zinc, Copper, Silver', 5, 'Inlay Work', 'Sheikh Suleman', 'https://upload.wikimedia.org/wikipedia/commons/9/93/Bidriware_art.jpg');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Blue Pottery', 'Pottery', 'Quartz, Multani Mitti', 6, 'Low-temperature Glazing', 'Kripal Singh Shekhawat', 'https://upload.wikimedia.org/wikipedia/commons/3/3b/Jaipur_blue_pottery.jpg');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Phulkari Embroidery', 'Textile', 'Cotton, Silk Thread', 7, 'Embroidery', 'Traditional Punjabi Artisans', 'https://upload.wikimedia.org/wikipedia/commons/1/1f/Phulkari_Textile.JPG');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Kalamkari', 'Painting', 'Cloth, Natural Dyes', 8, 'Pen-drawing', 'Raja Ravi Varma', 'https://upload.wikimedia.org/wikipedia/commons/a/a1/Kalamkari_art.jpg');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Tanjore Painting', 'Painting', 'Gold Foil, Wood', 9, 'Relief Work', 'R. Radhakrishnan', 'https://upload.wikimedia.org/wikipedia/commons/4/4d/Tanjore_Painting.JPG');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Rogan Art', 'Painting', 'Castor Oil, Natural Dyes', 10, 'Freehand Drawing', 'Abdul Gafur Khatri', 'https://upload.wikimedia.org/wikipedia/commons/5/52/Rogan_art.jpg');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Chikankari Embroidery', 'Textile', 'Muslin, Cotton Thread', 11, 'Hand Embroidery', 'Noor Jahan (Historic)', 'https://upload.wikimedia.org/wikipedia/commons/4/4b/Chikankari_Work.JPG');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Kullu Woolen Shawl', 'Textile', 'Wool, Vegetable Dyes', 12, 'Handloom Weaving', 'Traditional Artisans', 'https://upload.wikimedia.org/wikipedia/commons/3/34/Kullu_Shawl.jpg');

INSERT INTO artifacts ( art_type, materials_used, state_id, techniques, famous_artisans, image_url)
VALUES ('Meenakari Jewelry', 'Jewelry', 'Gold, Enamel', 13, 'Enameling', 'Iranian Artists in Rajasthan', 'https://upload.wikimedia.org/wikipedia/commons/3/39/Meenakari_work.jpg');